.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3*
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
bundler_stubs/*
*.lock
bin/*
test/dummy/config/initializers/_environment.rb
.yardoc
doc/*
test/tmp/*
